*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
header{
    display: flex;
    justify-content: space-between;
    padding:6vh;
}
header .logo img {
    width: 5vh;
}

header .nav ul{
   display: flex;
   gap: 3.4vh;
   list-style-type: none;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

header .register{
    display: flex;
    gap: 3vh;
}

header .register button {
    background: none;
    border: none;
    cursor: pointer;
}

header .register button .freeNotion{
    background: blue;
}

section .sec1{
    width: 100%;
    text-align: center;
}
section .sec1 video{
    width: 50%;
}

.sec1 h1{
    font-family: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 9vh;
    font-weight: 700;
    line-height: 64px;
}

.sec1 p{
    font-size: 3vh;
    margin-top: 2vh;
    line-height: 64px;
}

.sec1 .sec1Btn a{
    text-decoration: none;
    
}

.sec1 .sec1Btn .freeNotion{
    background-color: blue;
    border: none;
    padding: 3vh;
}

.sec1 .sec1video{
    margin-top: 5vh;
}

.sec1 .sec1video video{
    width: 80%;
}

.sec1 .team{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    padding: 5vh;
}

.sec1 .team img{
    width: 13vh;
    height: fit-content;
}

.sec2{
    background-color: rgb(248, 240, 240);
    padding: 14vh;
}

.sec2 .intro h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
}
.sec2 .notionAgent{
    margin: 5vh;
    background-color: white;
    display: flex;
    border-radius: 3vh;
}

.sec2 .notionAgent .leftNA{
    padding: 4vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16vh;
}

.sec2 .notionAgent .leftNA .downLNA .hand{
    font-weight: 500;
    margin-bottom: 1vh;
}

.sec2 .notionAgent .leftNA .downLNA .what{
    color: rgb(173, 170, 170);
    margin-bottom: 1vh;
}

.sec2 .notionAgent .leftNA .downLNA button{
    width: 100%;
    text-align: left;
    padding: 2vh;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
}

.sec2 .notionAgent .leftNA .downLNA button:hover{
    background-color: rgb(248, 240, 240);
}

.sec2 .notionAgent .leftNA hr{
    color: rgb(248, 240, 240);
}

.sec2 .notionAgent .rightNA{
    width: 70%;
}

.sec2 .notionAgent .rightNA img{
    width: 100%;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .customAgent{
    margin: 5vh;
    background-color: white;
    display: flex;
    border-radius: 3vh;
}

.sec2 .customAgent .leftCA{
    width: 30%;
    padding: 4vh;
}

.sec2 .customAgent .rightCA{
    width: 70%;
}

.sec2 .customAgent .rightCA img{
    width: 100%;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .com{
    margin: 5vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.sec2 .com .ES{
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
}

.sec2 .com .comup{
    height: 30%;
    padding: 4vh;
}

.sec2 .com .ES .comdown img{
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .com .meetingNote{
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
}

.sec2 .com .ES .comImg img{
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .flexible{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 3vh;
    margin: 5vh;
}

.sec2 .flexible .flexLeft{
    padding: 3vh;
    /* width: 30%; */
}

.sec2 .flexible .flexright{
    width: 70%;
}

.sec2 .flexible .flexright img{
    width: 100%;
}

.sec2 .text{
    text-align: center;
}

.sec2 .text h1{
    font-weight: 400;
    font-size: 40px;
}

.sec3{
    padding: 14vh;
}

.sec3 .up{
    display: flex;
}

.sec3 .up .left{
    width: 40%;
}

.sec3 .up .left h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sec3 .up .left p{
    margin-bottom: 10px;
}

.sec3 .up .left a{
    text-decoration: none;
    display: inline-block;
}

.sec3 .up .left a:hover{
    text-decoration: underline;
}

.sec3 .up .right{
    width: 60%;
}

.sec3 .up .right img{
    width: 100%;
}

.sec3 .down{
    border: 1px solid rgb(194, 190, 190);
    border-radius: 10px;
    padding: 5vh;
}

.sec3 .down .gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vh;
    font-weight: 600;
}

.sec3 .down .table{
    background-color: rgb(253, 247, 247);
    margin-top: 8vh;
    border-radius: 10px;
    padding: 3vh;
}

.sec3 .down .table table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: left;
}

td{
    font-size: 30px;
    font-weight: 700;
}
 td #num{
    font-size: 30px;
    font-weight: 700;
    width: 20vh;
 }

 .sec4{
    background-color: rgb(248, 240, 240);
    padding: 14vh;
 }

 .sec4 h1{
    font-size: 60px;
 }

 .sec4 .openAI{
    background-color: white;
    padding: 3vh;
    border-radius: 10px;
    display: flex;
    gap: 5vh;
 }

 .sec4 .openAI .left{
    width: 75%;
 }

 .sec4 .openAI .left .text{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2vh;
 }

 .sec4 .openAI .left a{
    text-decoration: none;
 } 
 .sec4 .openAI .left a p{
    margin-top: 10vh;
    color: blue;
 }

 .sec4 .openAI .left a p:hover{
    text-decoration: underline;
    color: black;
 }

 .sec4 .openAI .right img{
    border-radius: 10px;
 }

 .sec4 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    margin: 4vh 0; 
 }

 .sec4 .container .box{
    background-color: white;
    padding: 4vh;
    border-radius: 10px;
 }

 .sec4 .container .box img{
    width: 11vh;
}