*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding:3vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .logo img {
    width: 5vh;
}

header .nav ul button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
}
header .nav ul{
   display: flex;
   gap: 2vh;
   list-style-type: none;
   font-size: 15px;
   font-weight: 500;
}

header .nav ul button:hover{
    background-color: rgb(228, 228, 228);
}

/* Register buttons consolidated into .nav-actions (no separate .register block) */
section .sec1{
    width: 100%;
    text-align: center;
}
section .sec1 video{
    width: 50%;
}

.sec1 h1{
    font-family: NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 9vh;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 2vh;
}

.sec1 p{
    font-size: 3vh;
    margin-top: vh;
}

.sec1 .sec1Btn{
    display: flex;
    justify-content: center;
    gap: 4vh;
    margin-top: 4vh;
}
.sec1 .sec1Btn a{
    text-decoration: none;   
}

.sec1 .sec1Btn .freeNotion{
    background-color: rgb(0, 68, 255);
    border: none;
    font-size: 15px;
    padding: 2vh 4vh;
    margin-top: 2vh;
    border-radius: 10px;
}

.sec1 .sec1Btn .demo{
    background-color: rgb(188, 220, 248);
    border: none;
    font-size: 15px;
    padding: 2vh 4vh;
    margin-top: 2vh;
    border-radius: 10px;
    cursor: pointer;
}
.sec1 .sec1video{
    margin-top: 5vh;
}

.sec1 .sec1video video{
    width: 80%;
}

.sec1 .team{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    padding: 5vh;
}

.sec1 .team img{
    width: 13vh;
    height: fit-content;
}

.sec2{
    background-color: rgb(248, 240, 240);
    padding: 14vh;
}

.sec2 .intro h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
}
.sec2 .notionAgent{
    margin: 5vh;
    background-color: white;
    display: flex;
    border-radius: 3vh;
}

.sec2 .notionAgent .leftNA{
    padding: 4vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16vh;
}

.sec2 .notionAgent .leftNA .downLNA .hand{
    font-weight: 500;
    margin-bottom: 1vh;
}

.sec2 .notionAgent .leftNA .downLNA .what{
    color: rgb(173, 170, 170);
    margin-bottom: 1vh;
}

.sec2 .notionAgent .leftNA .downLNA button{
    width: 100%;
    text-align: left;
    padding: 2vh;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
}

.sec2 .notionAgent .leftNA .downLNA button:hover{
    background-color: rgb(248, 240, 240);
}

.sec2 .notionAgent .leftNA hr{
    color: rgb(248, 240, 240);
}

.sec2 .notionAgent .rightNA{
    width: 70%;
}

.sec2 .notionAgent .rightNA img{
    width: 100%;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .customAgent{
    margin: 5vh;
    background-color: white;
    display: flex;
    border-radius: 3vh;
}

.sec2 .customAgent .leftCA{
    width: 30%;
    padding: 4vh;
}

.sec2 .customAgent .rightCA{
    width: 70%;
}

.sec2 .customAgent .rightCA img{
    width: 100%;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .com{
    margin: 5vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.sec2 .com .ES{
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
}

.sec2 .com .comup{
    height: 30%;
    padding: 4vh;
}

.sec2 .com .ES .comdown img{
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .com .meetingNote{
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
}

.sec2 .com .ES .comImg img{
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.sec2 .flexible{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 3vh;
    margin: 5vh;
}

.sec2 .flexible .flexLeft{
    padding: 3vh;
    /* width: 30%; */
}

.sec2 .flexible .flexright{
    width: 70%;
}

.sec2 .flexible .flexright img{
    width: 100%;
}

.sec2 .text{
    text-align: center;
}

.sec2 .text h1{
    font-weight: 400;
    font-size: 40px;
}

.sec3{
    padding: 14vh;
}

.sec3 .up{
    display: flex;
}

.sec3 .up .left{
    width: 40%;
}

.sec3 .up .left h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sec3 .up .left p{
    margin-bottom: 10px;
}

.sec3 .up .left a{
    text-decoration: none;
    display: inline-block;
}

.sec3 .up .left a:hover{
    text-decoration: underline;
}

.sec3 .up .right{
    width: 60%;
}

.sec3 .up .right img{
    width: 100%;
}

.sec3 .down{
    border: 1px solid rgb(194, 190, 190);
    border-radius: 10px;
    padding: 5vh;
}

.sec3 .down .gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vh;
    font-weight: 600;
}

.sec3 .down .table{
    background-color: rgb(253, 247, 247);
    margin-top: 8vh;
    border-radius: 10px;
    padding: 3vh;
}

.sec3 .down .table table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: left;
}

td{
    font-size: 30px;
    font-weight: 700;
}
 td #num{
    font-size: 30px;
    font-weight: 700;
    width: 20vh;
 }

 .sec4{
    background-color: rgb(248, 240, 240);
    padding: 14vh;
 }

 .sec4 h1{
    font-size: 60px;
 }

 .sec4 .openAI{
    background-color: white;
    padding: 3vh;
    border-radius: 10px;
    display: flex;
    gap: 5vh;
 }

 .sec4 .openAI .left{
    width: 75%;
 }

 .sec4 .openAI .left .text{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2vh;
 }

 .sec4 .openAI .left a{
    text-decoration: none;
 } 
 .sec4 .openAI .left a p{
    margin-top: 10vh;
    color: blue;
 }

 .sec4 .openAI .left a p:hover{
    text-decoration: underline;
    color: black;
 }

 .sec4 .openAI .right img{
    border-radius: 10px;
 }

 .sec4 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    margin: 4vh 0; 
 }

 .sec4 .container .box{
    background-color: white;
    padding: 4vh;
    border-radius: 10px;
 }

 .sec4 .container .box img{
    width: 11vh;
}

.sec5{
    padding: 14vh;
}
.sec5 .up{
    display: flex;
    width: 100%;
}

.sec5 .up .left{
    width: 60%;
    padding-right: 5vh;

}

.sec5 .up .left h1{
    font-size: 60px;
    line-height: 56px;
}

.sec5 .up .left p{
    margin: 3vh 0;
}

.sec5 .up .left a{
    text-decoration: none;  
    color: blue;
}

.sec5 .up .left a:hover{
    text-decoration: underline;
    color: black;
}
.sec5 .up .right{
    width: 40%;
}

.sec5 .up .right img{
    width: 100%;
}

.sec5 .down{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vh;
    margin-top: 5vh;
}
.sec5 .down .box{
    border: 1px solid rgb(216, 213, 213);
    padding: 20px;
    border-radius: 10px;
}

.sec5 .down .box:hover{
    box-shadow: 0 4px 12px rgb(230, 224, 224);
    transform: translateY(0);
    transition: all 0.3s ease;
}

.sec6{
    background-color: rgb(248, 240, 240);
    padding: 14vh;
}

.sec6 .try{
    font-size: 9vh;
    margin-bottom: 4vh;
}
.sec6 .container{
    display: flex;
    gap: 4vh;
}
.sec6 .container .left{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.sec6 .container .left .up{
    padding: 4vh;
}
.sec6 .container .left .up img{
    width: 8vh;
}

.sec6 .container .left p{
    font-weight: 500;
}

.sec6 .container .left .up button{
    display: block;
    margin: 2vh;
    padding: 1vh 3vh;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.sec6 .container .left .down{
    padding-left: 4vh;
}

.sec6 .container .left .down img{
    border-top-left-radius: 10px;
    box-shadow: 1 4px 12px rgb(0, 0, 0, 0.4);
}

.sec6 .container .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 4vh;
}

.sec6 .container .right .up{
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 50%;
}
.sec6 .container .right .up .left{
    padding: 4vh;
    width: 70%;
}
.sec6 .container .right .up .left img{
    width: 8vh;
}

.sec6 .container .right .up .left h2{
    font-size: 30px;
}
.sec6 .container .right .up .left button{
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(230, 225, 225);
}
.sec6 .container .right .up .right{
    width: 30%;
    text-align: right;
    margin-top: 6vh;
}

.sec6 .container .right .up .right img{
    width: 100%;
    border-top-left-radius: 10px;
}

.sec6 .container .right .down{
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 50%;
}
.sec6 .container .right .down .left{
    padding: 4vh;
    width: 70%;
}
.sec6 .container .right .down .left img{
    width: 8vh;
}

.sec6 .container .right .down .left h2{
    font-size: 30px;
}
.sec6 .container .right .down .left button{
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(230, 225, 225);
}
.sec6 .container .right .down .right{
    width: 30%;
    text-align: right;
    margin-top: 6vh;
}

.sec6 .container .right .down .right img{
    width: 100%;
    border-top-left-radius: 10px;
}

.sec6 {
    color: black;
}

.sec6 a{
    color: black;
}

.sec6 a:hover{
    text-decoration: underline;
    color: blue;
}

.sec7{
    background-color: white;
    padding: 14vh;
    display: flex;
    justify-content: space-between;
}

.sec7 .notion .notionLogo{
    display: flex;
    gap: 1vh;
}

.sec7 .notion .notionLogo img{
    width: 7vh;
}

.sec7 .logo{
    display: flex;
    gap: 3vh;
    margin-top: 4vh;
}

.sec7 .logo img{
    width: 3vh;
}

.sec7 .form button{
    background-color: white;
    padding: 7px 3vh;
    margin: 4vh 0;
    font-size: 15px;
    border: 1px solid rgb(219, 215, 215);
    border-radius: 6px;
}

.sec7 .text a{
    text-decoration: none;
    color: rgb(156, 153, 153);
}

.sec7 .text .copyRight{
    color: rgb(156, 153, 153);
    margin: 4vh 0;
}

.sec7 .box ul{
    list-style: none;
    line-height: 30px;
}

.sec7 .box a {
    color: black;
    text-decoration: none;
}

.sec7 .box a:hover{
    text-decoration: underline;
}

/* Hidden checkbox used to toggle mobile nav */
.nav-toggle{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

/* Hamburger label (hidden on large screens) */
.nav-toggle-label{
    display: none;
    width: 2.4rem;
    height: 1.6rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.nav-toggle-label span{
    display: block;
    height: 3px;
    width: 100%;
    background: #111;
    border-radius: 2px;
}

/* Nav actions inside .nav (hidden on wide screens, shown inside mobile dropdown) */
.nav .nav-actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
    align-items: center;
}
.nav .nav-actions .nav-login,
.nav .nav-actions .nav-free{
    border: none;
    padding: 0.8rem 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.nav .nav-actions .nav-login{ background: white; border: 1px solid rgba(0,0,0,0.08); }
.nav .nav-actions .nav-free{ background: rgb(0,68,255); color: #fff; }

/* Breakpoint: <= 1280px (xl) - reduce large paddings and image sizes */
@media (max-width: 1280px) {
    header{ padding: 2.5vh; }
    .sec2, .sec3, .sec4, .sec5, .sec6, .sec7{ padding: 10vh; }
    .sec1 h1{ font-size: 8.5vh; }
    .sec1 video{ width: 55%; }
    header .nav ul{ gap: 1.6vh; }
}

/* Breakpoint: <= 1024px (lg) - adapt layout for tablets */
@media (max-width: 1024px) {
    header{ padding: 2vh; }
    header .nav ul{ gap: 1.2vh; }
    header .nav ul button{ font-size: 14px; padding: 6px 8px; }
    .sec1 h1{ font-size: 7.5vh; }
    .sec1 video{ width: 65%; }
    .sec1 .sec1video video{ width: 92%; }
    .sec4 .container{ grid-template-columns: repeat(2, 1fr); }
    .sec5 .down{ grid-template-columns: repeat(3, 1fr); }
}

/* Breakpoint: <= 768px (md) - show hamburger, stack nav, hide register */
@media (max-width: 768px) {
    header{ padding: 1rem; align-items: center; }

    /* Show hamburger */
    .nav-toggle-label{ display: flex; gap: 4px; margin-left: 1rem; }

    /* Hide register on smaller screens; can be moved into menu if desired */
    .register{ display: none; }

    /* Nav becomes a hidden dropdown that shows when toggled */
    .nav{
        position: absolute;
        left: 0;
        right: 0;
        top: calc(100% + 0.5rem);
        background: white;
        display: none;
        padding: 1rem 1.25rem;
        box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    }

    .nav ul{ display: flex; flex-direction: column; gap: 0.75rem; }

    /* Show register actions inside the dropdown */
    .nav .nav-actions{ display: flex; flex-direction: column; gap: 0.6rem; margin-top: 0.6rem; }

    /* When the hidden checkbox is checked, show the nav */
    #nav-toggle:checked ~ .nav{ display: block; }

    header .logo img{ width: 4.5vh; }
    header .nav ul button{ padding: 0.9rem; text-align: left; width: 100%; }

    /* Stack key sections vertically and reduce sizes */
    .sec1 h1{ font-size: 6.5vh; }
    .sec2{ padding: 6vh; }
    .sec3{ padding: 6vh; }
    .sec4{ padding: 6vh; }
    .sec5{ padding: 6vh; }
}

/* Breakpoint: <= 640px (sm) - compact mobile layout */
@media (max-width: 640px) {
    header{ padding: 0.8rem; }
    header .logo img{ width: 4vh; }
    .nav-toggle-label{ width: 2rem; height: 1.2rem; }
    .sec1 h1{ font-size: 6vh; line-height: 1.05; }
    .sec1 p{ font-size: 2.6vh; }
    .sec1 video{ width: 100%; }
    .sec1 .sec1video video{ width: 100%; }
    .sec4 .container{ grid-template-columns: 1fr; }
    .sec5 .down{ grid-template-columns: repeat(2, 1fr); }
    .sec6 .container{ flex-direction: column; }
}

